{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Platos</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
               
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for plato in platos %}
            <tr>
                <td><a href="{{ path('platos_show', { 'id': plato.id }) }}">{{ plato.id }}</a></td>
                <td>{{ plato.nombre }}</td>
                <td>{{ plato.descripcion }}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('platos_show', { 'id': plato.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('platos_edit', { 'id': plato.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('platos_new') }}">Crear un nuevo plato</a>
        </li>
    </ul>
{% endblock %}
